/*css stuff*/
.column_middle {
    float: left;
    width: 60%;
    padding: 2em;
    background-color: #bbb; 

    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;

    /*this fucking bitch*/
    place-items: center;

  }
  .gridElements{
    height: 10em;
    width: 10em;
    margin: 0 none;
    text-align: center;
    border: #000000 1px solid;
    position: relative;
  }