/*css stuff*/
.column_middle {
    float: left;
    width: 85vw;
    height: 90vh;
    background-color: grey;






    /*this fucking bitch*/
    place-items: center;
    overflow: scroll;

  }
  .gridElements{
    height: 30em;
    width: 30em;
    margin: 2em 2em ;
    text-align: center;
    border: #000000 1px solid;
      border-radius: 10%;

  }
  .leftNav li{
      float: left;
      display: inline;
      padding-right: 1em;
  }
  .rightNav li{
      float: right;
      display: inline;
      padding-left: 1em;
  }